#ifndef {{ guard }}
#define {{ guard }}

class {{ classname }}{{# derived }}
{
{{# private }}

{{/ private }}

{{# public }}
{{/ public }}
public:
  {{ classname }}();
  ~{{ classname }}();
};

#endif {{ guard }}