package {{ packagename }}

public{{# modifiers}} {{ . }}{{/ modifiers }} class {{ classname }} {
  
  {{# ivars }}
  {{ access }} {{# static }}static{{/ static }} {{ type }} {{ ivarname }}
  {{/ ivars }}
  
  public {{ classname }}() {
    
  }
}